body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* form {
  margin: 100px 20%;
} */

.users-form {
  margin: 0;
}

td img {
  max-height: 100px;
}

.list-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.table-header h4 {
  margin-bottom: 0;
  padding: 0;
}
.table-buttons {
  display: flex;
  justify-content: flex-end;
}
.table-buttons .dropdown {
  margin-right: 10px;
}

.movies-table-header {
  background-color: black;
}
.movies-table-header th {
  color: white;
}

.movie-info {
  margin: 100px 10%;
}

.movie-container {
  /* margin: 20px 10%; */
  margin-top: 20px;
  display: flex;
}

.movie-container .content {
  flex: 3;
  margin-left: 40px;
  padding: 10px;
  /* text-align: right; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .movie-container {
    flex-direction: column;
    /* min-width: 350px; */
  }
  .movie-header {
    justify-content: flex-end !important;
  }
  .movie-header h3 {
    display: none;
  }
  .movie-container .content {
    margin: auto;
    align-items: center;
  }
  .movie-container .content p {
    text-align: center;
  }
  .table-header-title,
  .movies-table-year,
  .movies-table-title {
    display: none;
  }
  .container {
    min-width: 0 !important;
  }
  #movies-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list-header {
    flex-direction: column;
    justify-content: center;
  }
  .list-header button {
    margin-top: 15px;
  }
}

@media (max-width: 450px) {
  .table-header,
  .table,
  .table-buttons {
    width: 320px !important;
  }
}

.fa-trash {
  color: white;
}

.login-register {
  width: 350px;
  /* min-width: 270px; */
  height: 480;
  /* margin: 100px auto; */
  /* border: black solid 5px; */
}

@media (max-width: 400px) {
  .login-register {
    width: 290px;
  }
}

.login-register-form {
  margin: 40px 5% 10px 5%;
}

.user-card {
  margin: 100px 10%;
}

.user-info {
  display: flex;
  justify-content: space-around;
}

.user-info img {
  max-height: 250px;
}

.user-info .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 720px) {
  .user-info {
    flex-direction: column;
  }
  .user-info img {
    width: 250px !important;
    margin-bottom: 30px;
  }
}

.user-buttons button {
  margin: auto 10px;
  min-width: 100px;
}
.navbar {
  background-color: black;
}

.nav-link {
  font-size: 1.2rem;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right .nav-badge {
  margin-left: 30px;
}

@media (max-width: 1000px) {
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-right .nav-badge {
    margin-left: 0;
  }
}
.navbar-brand h3 {
  color: white;
  font-weight: bold;
  padding: 0;
  margin-bottom: 0;
}

.search-form-container {
  margin-top: 100px;
}

.form-container {
  margin-top: 5vh;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  padding: 50px;
  border-radius: 20px;
  background-color: black;
  min-width: 250px;
  max-width: 600px;
  /* margin: 130px auto; */
}

.form-subgroup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-title {
  margin: 0 5px;
}

.form-plot {
  margin: 0 5px;
}

@media (max-width: 560px) {
  .search-form {
    margin: 130px 50px;
  }
  .form-subgroup {
    flex-direction: column;
    justify-content: space-between;
  }
  .form-plot {
    max-width: 100% !important;
  }
}

.container {
  margin-top: 15vh;
  min-width: 400px;
}

.icon:hover {
  fill: turquoise;
}

.movie-header {
  margin: 70px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 350px; */
}
.header-button {
  min-width: 70px;
  margin-left: 15px;
}
